.margFix {
    margin-right: 0px;
    margin-left: 0px;
}

.navbarFixedMargin {
    margin-left: 5%;
    margin-right: 5%;
}

.socialRow {
    background-color: #33444d;
    height: 50px;
    color: white;
}

.logoRow {
    background-color: #ffffe6;
    height: 100px;
    display: flex;
    justify-content: center;
}

.navbar {
    margin-bottom: 0;
}

.logo {
    text-align: center;
    height: inherit;
    margin:auto;
    padding: 10px;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.property {
    max-width: 450px;
    text-align: center;
}

.activities {
    height: 400px;
    width: 400px;
}

.activities.fishing {
    background-image: url("../img/boy_fishing_dock.jpg");;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.activities.boating {
    background-image: url("../img/trev_skiing.jpg");;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.activities.local {
    background-image: url("../img/grand_local_attractions.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    background-repeat: no-repeat;
    background-image: url('../img/lake_dusk_landscape.jpg');
    background-size: cover;
    background-position: center 75%;
    height: 500px;
    color: white;
}

.jumbotronContainer {
    background-color: rgba(0, 0, 0, .5);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    font-family: helloBigSky;
}

.learnBtn {
    background: darkgray;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #3e8e41;
}

a.menu_links { cursor: pointer; }

html
{
    /*padding: 10px;*/
    margin-left: 5%;
    margin-right: 5%;
    background: url("../img/paper_tree_background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html * {
    font-family: helloBigSky; !important;
}

footer p {
    text-align: center;
}

@font-face {
    font-family: "helloBigSky";
    src: url("../fonts/HelloBigSky.ttf");
}

@font-face {
    font-family: "helloHappyDays";
    src: url("../fonts/HelloHappyDays.ttf");
}