.desc {
    width: 50%;
}

#map {
     width: 50%;
     height: 400px;
     background-color: grey;
 }

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details p {
    font-family: helloHappyDays;
    font-size: 20px;
}

.mySlides {
    width: auto;
}

/* Icon when the collapsible content is shown */
.toggle:after {
    content: "\e259";
    float: right;
    margin-left: 15px;
}
/* Icon when the collapsible content is hidden */
.toggle.collapsed:after {
    content: "\e260";
}