<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Three Bears Log Cabin</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.css}"
          href="../static/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" href="../static/assets/css/index.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/faq.css}" href="../static/assets/css/faq.css"/>
</head>
<body class="page page-id-19 page-child parent-pageid-260 page-template-default custom-background wp-custom-logo wpex-theme wpex-responsive full-width-main-layout skin-base has-composer wpex-live-site content-full-width has-breadcrumbs has-topbar sidebar-widget-icons hasnt-overlay-header page-header-disabled wpex-mobile-toggle-menu-icon_buttons has-mobile-menu wpb-js-composer js-comp-ver-4.12 vc_responsive"
      itemscope="itemscope" itemtype="http://schema.org/WebPage">

<span data-ls_id="#site_top"></span>
<div id="outer-wrap" class="clr">
    <div id="wrap" class="clr">
        <div class="row margFix">
            <div class="col-md-12 socialRow">
                <span>Contact Us!</span>
                <span>Email: masnae.ventures@gmail.com</span>
                <span class="contactInfo">Phone: +1 (214) 966-3263</span>
                <!--<a href="https://twitter.com/UNLakeHouse" title="Twitter"-->
                <!--class="wpex-twitter wpex-social-btn wpex-social-btn-3d wpex-social-bg" target="_blank">-->
                <!--<span class="fa fa-twitter" aria-hidden="true"></span>-->
                <!--<span class="screen-reader-text">Twitter Profile</span>-->
                <!--</a>-->
            </div>
        </div>
        <div class="row margFix">
            <div class="col-lg-12 logoRow">
                <img class="logo" src="../static/assets/img/test_logo.png"></img>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand menu_links" href="#">Home</a>

                <div class="navbar-brand dropdown">
                    <a class="menu_links">Properties</a>
                    <div class="dropdown-content">
                        <a href="/templates/propertyDetails.html">Three Bears Log Cabin</a>
                    </div>
                </div>
                <a class="navbar-brand menu_links" href="/templates/whyus.html">Why Us?</a>
                <a class="navbar-brand menu_links" href="/templates/faq.html">FAQ</a>
                <a class="navbar-brand menu_links" href="/templates/thingstodo.html">Things To Do</a>
            </div>
        </nav>
        <main id="main" class="site-main clr" itemprop="mainContentOfPage" itemscope="itemscope"
              itemtype="http://schema.org/WebPageElement">
            <div id="content-wrap" class="container clr">
                <div id="primary" class="content-area clr">
                    <div id="content" class="site-content clr">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading center">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Smoking Policy</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body center">In order to accommodate all of our guests, our cabin is a non-smoking
                                        facility. A fee of $200.00 will be charged to any guest that does not
                                        comply.</div>
                                </div>
                            </div>
                            <div class="panel panel-default center">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Late Check Out</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body center">Check out is at 10:00 A.M. Sorry, but we do not offer late checks outs.</div>
                                </div>
                            </div>
                            <div class="panel panel-default center">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Cancellations</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body center">We understand that plans change and things come up. Here is our
                                        cancellation policy.
                                        Cancel up to 45 days before check in and get a 50% refund (minus service
                                        fees). Cancel within 30 days of your trip and the reservation is non-
                                        refundable.</div>
                                </div>
                            </div>
                            <div class="panel panel-default center">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Pets</a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body center">Guests may not bring pets to our cabin. We understand the need to be
                                        with our precious fur babies, but due to chewing and little accidents, we
                                        have a no pet policy.</div>
                                </div>
                            </div>
                            <div class="panel panel-default center">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Boating Hours</a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body center">11:00am-7:30pm ~ Open Boating
                                        7:30pm- 11:00 ~ Quiet Time
                                        (This is a no wake time for boats. Fishing, kayaks, pontoons etc...)</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- .container -->
        </main><!-- #main-content -->
        <footer id="footer" class="site-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
            <div id="footer-bottom" class="clr">
                <p>&copy; 2017 MASNAE, LLC</p>
            </div><!-- #footer-bottom -->
        </footer><!-- #footer -->
    </div><!-- #wrap -->
</div><!-- .outer-wrap -->


<script th:src="@{/assets/js/jquery-1.11.2.min.js}" src="../static/assets/js/jquery-1.11.2.min.js"></script>
<script th:src="@{/assets/js/bootstrap.js}" src="../static/assets/js/bootstrap.js"></script>
<script th:src="@{/assets/js/index.js}" src="../static/assets/js/index.js"></script>

</body>
</html>