<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Three Bears Log Cabin</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.css}"
          href="../static/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" href="../static/assets/css/index.css"/>
</head>
<body>

<div class="row margFix">
    <div class="col-lg-12" style="background-color: lightblue;">
        Social Media and Email?
        <a href="https://twitter.com/UNLakeHouse" title="Twitter"
           class="wpex-twitter wpex-social-btn wpex-social-btn-3d wpex-social-bg" target="_blank">
            <span class="fa fa-twitter" aria-hidden="true"></span>
            <span class="screen-reader-text">Twitter Profile</span>
        </a>
    </div>
</div>
<div class="row margFix">
    <div class="col-lg-12" style="background-color: lightgreen;">
        <div class="logo">Logo?</div>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand menu_links" href="#">Home</a>
        <div class="navbar-brand dropdown">
            <a class="menu_links">Properties</a>
            <div class="dropdown-content">
                <a href="/propertyDetails">Three Bears Log Cabin</a>
            </div>
        </div>
        <a class="navbar-brand menu_links" href="">Why Us?</a>
        <a class="navbar-brand menu_links" href="">FAQ</a>
        <a class="navbar-brand menu_links" href="">Contact Us</a>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron content">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<!-- Example row of columns -->
<div class="row properties">
    <!--<h1>Our Properties</h1>-->
    <div class="col-md-4 property">
        <div class="propPic"></div>
        <h3>Three Bears Log Cabin</h3>
        <p>Text if we want </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <!--<div class="col-md-4 property">-->
    <!--<div class="propPic"></div>-->
    <!--<h3>Property Name</h3>-->
    <!--<p>Text if we want </p>-->
    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4 property">-->
    <!--<div class="propPic"></div>-->
    <!--<h3>Property Name</h3>-->
    <!--<p>Text if we want </p>-->
    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4 property">-->
    <!--<div class="propPic"></div>-->
    <!--<h3>Property Name</h3>-->
    <!--<p>Text if we want </p>-->
    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4 property">-->
    <!--<div class="propPic"></div>-->
    <!--<h3>Property Name</h3>-->
    <!--<p>Text if we want </p>-->
    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->
</div>

<footer>
    <p>&copy; 2017 MASNAE</p>
</footer>

</body>
<script th:src="@{/assets/js/jquery-1.11.2.min.js}" src="../static/assets/js/jquery-1.11.2.min.js"></script>
<script th:src="@{/assets/js/bootstrap.js}" src="../static/assets/js/bootstrap.js"></script>
<script th:src="@{/assets/js/index.js}" src="../static/assets/js/index.js"></script>
</html>