<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Three Bears Log Cabin</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.css}"
          href="../static/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" href="../static/assets/css/index.css"/>
</head>
<body>

<div class="row margFix">
    <div class="col-md-12 socialRow">
        <span>Contact Us!</span>
        <span>Email: masnae.ventures@gmail.com</span>
        <span class="contactInfo">Phone: +1 (214) 966-3263</span>
        <!--<a href="https://twitter.com/UNLakeHouse" title="Twitter"-->
           <!--class="wpex-twitter wpex-social-btn wpex-social-btn-3d wpex-social-bg" target="_blank">-->
            <!--<span class="fa fa-twitter" aria-hidden="true"></span>-->
            <!--<span class="screen-reader-text">Twitter Profile</span>-->
        <!--</a>-->
    </div>
</div>
<div class="row margFix">
    <div class="col-lg-12 logoRow">
        <img class="logo" src="../static/assets/img/test_logo.png"></img>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand menu_links" href="/">Home</a>

        <div class="navbar-brand dropdown">
            <a class="menu_links">Properties</a>
            <div class="dropdown-content">
                <a href="/propertyDetails.html">Three Bears Log Cabin</a>
            </div>
        </div>
        <a class="navbar-brand menu_links" href="/whyus.html">Why Us?</a>
        <a class="navbar-brand menu_links" href="/faq.html">FAQ</a>
        <a class="navbar-brand menu_links" href="/thingstodo.html">Things To Do</a>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron content">
    <div class="jumbotronContainer">
        <h1>Three Bears Log Cabin</h1>
        <p>Stay in our family home for your family vacation!</p>
        <p>Start your own log cabin tradition.</p>
        <p class="pLearnBtn"><a class="btn btn-lg learnBtn" href="/propertyDetails.html" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="attractionsHeader">
    <h2>Things to do during your stay:</h2>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="properties">
        <div class="col-md-4 col-sm-12 property">
            <div class="activities fishing"></div>
            <h3>Fishing</h3>
            <!--<p>Text if we want </p>-->
            <p><a class="btn btn-default" href="/thingstodo.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12 property">
            <div class="activities boating"></div>
            <h3>Boating</h3>
            <!--<p>Text if we want </p>-->
            <p><a class="btn btn-default" href="/thingstodo.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12 property">
            <div class="activities local"></div>
            <h3>Local Attractions</h3>
            <!--<p>Text if we want </p>-->
            <p><a class="btn btn-default" href="/thingstodo.html" role="button">View details &raquo;</a></p>
        </div>
        <!--<div class="col-md-4 property">-->
        <!--<div class="propPic"></div>-->
        <!--<h3>Property Name</h3>-->
        <!--<p>Text if we want </p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        <!--</div>-->
        <!--<div class="col-md-4 property">-->
        <!--<div class="propPic"></div>-->
        <!--<h3>Property Name</h3>-->
        <!--<p>Text if we want </p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        <!--</div>-->
    </div>
</div>

<footer>
    <p>&copy; 2017 MASNAE, LLC</p>
</footer>

</body>
<script th:src="@{/assets/js/jquery-1.11.2.min.js}" src="../static/assets/js/jquery-1.11.2.min.js"></script>
<script th:src="@{/assets/js/bootstrap.js}" src="../static/assets/js/bootstrap.js"></script>
<script th:src="@{/assets/js/index.js}" src="../static/assets/js/index.js"></script>
</html>