<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Three Bears Log Cabin</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.css}"
          href="../static/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" href="../static/assets/css/index.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/propertyDetails.css}" href="../static/assets/css/propertyDetails.css"/>
</head>

<!-- Begin Body -->
<body class="page page-id-19 page-child parent-pageid-260 page-template-default custom-background wp-custom-logo wpex-theme wpex-responsive full-width-main-layout skin-base has-composer wpex-live-site content-full-width has-breadcrumbs has-topbar sidebar-widget-icons hasnt-overlay-header page-header-disabled wpex-mobile-toggle-menu-icon_buttons has-mobile-menu wpb-js-composer js-comp-ver-4.12 vc_responsive"
      itemscope="itemscope" itemtype="http://schema.org/WebPage">

<span data-ls_id="#site_top"></span>
<div id="outer-wrap" class="clr">
    <div id="wrap" class="clr">
        <div class="row margFix">
            <div class="col-lg-12 socialRow">Social Media and Email?</div>
        </div>
        <div class="row margFix">
            <div class="col-lg-12 logoRow">
                <div class="logo">Logo?</div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand menu_links" href="#">Home</a>
                <a class="navbar-brand dropdown menu_links">
                    <div>Properties</div>
                    <div class="dropdown-content">
                        <a href="/propertyDetails">Three Bears Log Cabin</a>
                    </div>
                </a>
                <a class="navbar-brand menu_links" href="">Why Us?</a>
                <a class="navbar-brand menu_links" href="">FAQ</a>
                <a class="navbar-brand menu_links" href="">Contact Us</a>
            </div>
        </nav>
        <main id="main" class="site-main clr" itemprop="mainContentOfPage" itemscope="itemscope"
              itemtype="http://schema.org/WebPageElement">
            <div class="attractionsHeader">
                <h3>6382 Beach Rd. Johannesburg, MI</h3>
            </div>
            <div id="content-wrap" class="container clr">
                <div id="primary" class="content-area clr">
                    <div id="content" class="site-content clr">
                        <div class="w3-content w3-display-container imgSlides">
                            <!--TODO: figure out a way to make these uniform in size-->
                            <img class="mySlides" src="../static/assets/img/1.png">
                            <img class="mySlides" src="../static/assets/img/2.jpg">
                            <img class="mySlides" src="../static/assets/img/3.jpg">
                            <img class="mySlides" src="../static/assets/img/4.jpg">
                            <img class="mySlides" src="../static/assets/img/5.jpg">
                            <img class="mySlides" src="../static/assets/img/6.jpg">
                            <div class="somethingForPositioning">
                                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                            </div>

                        </div>
                        <div class="details">
                            <div class="desc">
                                <p>Our cabin has two bedrooms, a sleeping porch and a pull-out sofa in the
                                living room. We have slept 8 comfortably many times. All windows on
                                sleeping porch open allowing the lake breezes to move through the cabin. It
                                is a fight for the sleeping porch in our family. We have a great kitchen table
                                for family gatherings or a table on the sleeping porch for you to play cards,
                                board games, or just hang out with family and friends. Our kitchen comes
                                fully equipped with most items needed to prepare meals. At night enjoy our
                                fire pit area on the beach that is perfect for roasting marshmallows with a
                                spot for everyone to huddle around the campfire. </p>
                                <p>Little Bear Lake has been recognized as one of the top ten cleanest lakes in
                                Michigan. This makes the lake perfect for swimming, fishing, or kayaking. If
                                you’d like you may bring your own boat, or if you don’t have your own boat
                                Twin Lakes Marina is nearby where you can rent a boat. They rent out
                                pontoon boats, kayaks and paddle boards.</div>
                            <div id="map"></div>
                        </div>

                        <div class="bookBtn">
                            <a class="btn btn-primary"
                               href="https://www.airbnb.com" target="_blank">BOOK NOW</a>
                        </div>
                        <!--TODO: change this to something better-->
                        &nbsp;
                        <div>
                            <p class="toggle-heading">
                                <button class="toggle btn btn-primary glyphicon collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Amenities
                                </button>
                            </p>
                            <div class="toggle-open collapse" id="collapseExample">
                                <div class="card card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                            <p class="toggle-heading">
                                <button class="toggle btn btn-primary glyphicon collapsed" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                                    Current Rates
                                </button>
                            </p>
                            <div class="toggle-open collapse" id="collapseExample2">
                                <div class="card card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                            <p class="toggle-heading">
                                <button class="toggle btn btn-primary glyphicon collapsed" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                                    Calendar if I can manage
                                </button>
                            </p>
                            <div class="toggle-open collapse" id="collapseExample3">
                                <div class="card card-block">
                                    Which I don't think I can because AirBnB are dicks and dont open up the API for their calendar data
                                </div>
                            </div>
                        </div>
                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- .container -->
        </main><!-- #main-content -->
        <footer id="footer" class="site-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
            <div id="footer-bottom" class="clr">
                <p>&copy; 2017 MASNAE</p>
            </div><!-- #footer-bottom -->
        </footer><!-- #footer -->
    </div><!-- #wrap -->
</div><!-- .outer-wrap -->


<script th:src="@{/assets/js/jquery-1.11.2.min.js}" src="../static/assets/js/jquery-1.11.2.min.js"></script>
<script th:src="@{/assets/js/bootstrap.js}" src="../static/assets/js/bootstrap.js"></script>
<script th:src="@{/assets/js/index.js}" src="../static/assets/js/index.js"></script>
<script type="text/javascript" src="../static/assets/js/slideshow.js"></script>
<script type="text/javascript" src="../static/assets/js/googleMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgc0Z8PT85rsE7lZaNw04rEr8ThMT9UBY&callback=myMap"></script>

</body>
</html>