<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Property Details</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.css}"
          href="../static/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" href="../static/assets/css/index.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" href="../static/assets/css/propertyDetails.css"/>
</head>

<!-- Begin Body -->
<body class="page page-id-19 page-child parent-pageid-260 page-template-default custom-background wp-custom-logo wpex-theme wpex-responsive full-width-main-layout skin-base has-composer wpex-live-site content-full-width has-breadcrumbs has-topbar sidebar-widget-icons hasnt-overlay-header page-header-disabled wpex-mobile-toggle-menu-icon_buttons has-mobile-menu wpb-js-composer js-comp-ver-4.12 vc_responsive"
      itemscope="itemscope" itemtype="http://schema.org/WebPage">

<span data-ls_id="#site_top"></span>
<div id="outer-wrap" class="clr">
    <div id="wrap" class="clr">
        <div class="row margFix">
            <div class="col-lg-12" style="background-color: lightblue;">Social Media and Email?</div>
        </div>
        <div class="row margFix">
            <div class="col-lg-12" style="background-color: lightgreen;">
                <div class="logo">Logo?</div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="#">Home</div>
                <div class="navbar-brand dropdown">
                    <div>Properties</div>
                    <div class="dropdown-content">
                        <a href="/propertyDetails">Little Bear Lake</a>
                        <a href="/propertyDetails">Little Bear Lake2</a>
                        <a href="/propertyDetails">Little Bear Lake3</a>
                        <a href="/propertyDetails">Little Bear Lake4</a>
                        <a href="/propertyDetails">Little Bear Lake5</a>
                    </div>
                </div>
                <div class="navbar-brand" href="">FAQ</div>
                <div class="navbar-brand" href="">Contact Us</div>
            </div>
        </nav>
        <main id="main" class="site-main clr" itemprop="mainContentOfPage" itemscope="itemscope"
              itemtype="http://schema.org/WebPageElement">
            <div id="content-wrap" class="container clr">
                <div id="primary" class="content-area clr">
                    <div id="content" class="site-content clr">
                        <div class="w3-content w3-display-container">
                            <img class="mySlides" src="../static/assets/img/1.png" style="width:100%">
                            <img class="mySlides" src="../static/assets/img/2.png" style="width:100%">
                            <img class="mySlides" src="../static/assets/img/3.png" style="width:100%">
                            <img class="mySlides" src="../static/assets/img/4.png" style="width:100%">

                            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                        </div>
                        <div class="details">
                            <div class="desc">Description of the property here</div>
                            <div id="map"></div>
                        </div>
                    </div><!-- #content -->

                </div><!-- #primary -->
            </div><!-- .container -->
        </main><!-- #main-content -->
        <footer id="footer" class="site-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
            <div id="footer-inner" class="container clr">
                <div id="footer-widgets" class="wpex-row clr single-col-footer gap-30">
                    <div class="footer-box span_1_of_1 col col-1">
                        <div class="footer-widget widget_text clr">
                            <div class="textwidget"><p><a
                                    href="http://www.bbb.org/western-michigan/business-reviews/vacation-rentals/up-north-lake-houses-in-johannesburg-mi-38163943#sealclick"><img
                                    src="http://upnorthlakehouses.com/wp-content/uploads/2016/11/seal-for-38163943.png"></a>
                            </p>
                                <p><font color="ffffff"><br/>
                                    Up North Lake Houses - Gaylord Snowmobile Lodging at its finest!</p>
                                <p>
                                    Start your family tradition today, by booking one of our premium lake houses. Our
                                    vacation rentals are located in Johannesburg, MI, which is just a few miles from the
                                    city of Gaylord. Each property has 3 bedrooms and 2 bathrooms, and can sleep 9
                                    guests. Our central location also makes for a perfect (all-season) vacation
                                    destination, as we are just an hour drive to several great places to visit – such as
                                    Mackinac Island, Traverse City, and Petosky. </p>
                                <p> In addition, Gaylord is known as the Golf Mecca of the mid-west. There are over 25
                                    golf courses nearby for the golf enthusiast. Our properties are clean and
                                    meticulously maintained. Our lake houses are situated upon amazing lakes and are
                                    near ATV, snowmobiling, biking and hiking trails. Don’t wait. Make your reservations
                                    today!</p>
                                <p>Gaylord, MI - Area Visitor Guide</color> - <a
                                        href="http://www.gaylordmichigan.net/area-guides-52/">Click here</a></p>
                            </div>
                        </div>
                    </div><!-- .footer-one-box -->
                </div><!-- #footer-widgets -->
            </div><!-- #footer-widgets -->
        </footer><!-- #footer -->
        <div id="footer-bottom" class="clr">
            <div id="footer-bottom-inner" class="container clr">
                <div id="copyright" class="clr" role="contentinfo">
                    Copyright © 2014-2016, Dove Properties, LLC
                </div><!-- #copyright -->
                <div id="footer-bottom-menu" class="clr">
                    <div class="menu-external-links-container">
                        <ul id="menu-external-links" class="menu">
                            <li id="menu-item-247"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-247"><a
                                    target="_blank" href="http://www.snowmancam.com/">Snowman Cam</a></li>
                            <li id="menu-item-248"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-248"><a
                                    target="_blank" href="http://gaylordmichigan.net/">Tourism Info</a></li>
                            <li id="menu-item-249"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-249"><a
                                    target="_blank" href="http://www.fishweb.com/recreation/snowmobile/trails/">Trail
                                Reports</a></li>
                            <li id="menu-item-250"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250"><a
                                    target="_blank" href="http://www.gaylordmichigan.net/rentals-85/">Recreation
                                Rentals</a></li>
                        </ul>
                    </div>
                </div><!-- #footer-bottom-menu -->
            </div><!-- #footer-bottom-inner -->
        </div><!-- #footer-bottom -->
    </div><!-- #wrap -->
</div><!-- .outer-wrap -->


<script th:src="@{/assets/js/jquery-1.11.2.min.js}" src="../static/assets/js/jquery-1.11.2.min.js"></script>
<script th:src="@{/assets/js/bootstrap.js}" src="../static/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/assets/js/slideshow.js"></script>
<script type="text/javascript" src="../static/assets/js/googleMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgc0Z8PT85rsE7lZaNw04rEr8ThMT9UBY&callback=myMap"></script>

</body>
</html>