<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Three Bears Log Cabin</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.css}"
          href="../static/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" href="../static/assets/css/index.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/whyus.css}" href="../static/assets/css/whyus.css"/>
</head>
<body class="page page-id-19 page-child parent-pageid-260 page-template-default custom-background wp-custom-logo wpex-theme wpex-responsive full-width-main-layout skin-base has-composer wpex-live-site content-full-width has-breadcrumbs has-topbar sidebar-widget-icons hasnt-overlay-header page-header-disabled wpex-mobile-toggle-menu-icon_buttons has-mobile-menu wpb-js-composer js-comp-ver-4.12 vc_responsive"
      itemscope="itemscope" itemtype="http://schema.org/WebPage">

<span data-ls_id="#site_top"></span>
<div id="outer-wrap" class="clr">
    <div id="wrap" class="clr">
        <div class="row margFix">
            <div class="col-lg-12 socialRow">Social Media and Email?</div>
        </div>
        <div class="row margFix">
            <div class="col-lg-12 logoRow">
                <div class="logo">Logo?</div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand menu_links" href="#">Home</a>
                <a class="navbar-brand dropdown menu_links">
                    <div>Properties</div>
                    <div class="dropdown-content">
                        <a href="/propertyDetails">Three Bears Log Cabin</a>
                    </div>
                </a>
                <a class="navbar-brand menu_links" href="">Why Us?</a>
                <a class="navbar-brand menu_links" href="">FAQ</a>
                <a class="navbar-brand menu_links" href="">Contact Us</a>
            </div>
        </nav>
        <main id="main" class="site-main clr" itemprop="mainContentOfPage" itemscope="itemscope"
              itemtype="http://schema.org/WebPageElement">
            <div id="content-wrap" class="container clr">
                <div id="primary" class="content-area clr">
                    <div id="content" class="site-content clr details">
                        <p>Welcome to Three Bears Log Cabin in Johannesburg, Michigan.
                            Have you ever dreamed about having a family get away to a lake front, log
                            cabin? Experience that Pure Michigan, up north adventure on beautiful Little Bear Lake.</p>
                        <p>Our ever so quaint full log cabin has 60 feet of sandy beach frontage,
                            making it perfect for kids. Built in 1945, our cabin was one of the first built
                            on the lake, making our location supreme. Stepping into our cabin is like stepping
                            back in time, where you can relax and enjoy a charm at every turn.</p>
                        <p>If you enjoy open water distance swimming, Little Bear Lake has quiet
                            times before 11:00AM. You can enjoy a morning swim with less boat traffic.</p>

                        <p>Little Bear Lake is set deep in the piney northern woods of lower Michigan.
                            Walking or running around the lake is a perfect 5k route. The smell of the
                            pine trees will have you wanting to explore the many trails and backroads
                            around the lake. </p>

                        <p>Visiting during crisp fall or winter nights? Our propane furnace and a
                            stunning stone, natural wood burning fireplace make it perfect to cuddle up
                            with a good book. Our cabin is located about ¼ of a mile away from 75
                            miles of snowmobile trails making it a wonderful get a way weekend to
                            snowmobile or close enough to take on the nearby ski slopes.
                            No matter which season you decide to come for a visit, we know you will
                            enjoy Three Bears Log Cabin on Little Bear Lake.  It is a true classic Northern
                            Michigan cabin, brimming with charm.</p>
                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- .container -->
        </main><!-- #main-content -->
        <footer id="footer" class="site-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
            <div id="footer-bottom" class="clr">
                <p>&copy; 2017 MASNAE</p>
            </div><!-- #footer-bottom -->
        </footer><!-- #footer -->
    </div><!-- #wrap -->
</div><!-- .outer-wrap -->


<script th:src="@{/assets/js/jquery-1.11.2.min.js}" src="../static/assets/js/jquery-1.11.2.min.js"></script>
<script th:src="@{/assets/js/bootstrap.js}" src="../static/assets/js/bootstrap.js"></script>
<script th:src="@{/assets/js/index.js}" src="../static/assets/js/index.js"></script>

</body>
</html>